{{> header}}

<main class="mt-5 pt-3">
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <span><i class="bi bi-mortarboard-fill"></i></span> Pending Tutors
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped data-table" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Course</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td class="text-left">
                                        <button class="btn btn-primary"><i class="bi bi-eye"></i> View</button>
                                        <button class="btn btn-success">Approve</button>
                                        <button class="btn btn-danger">Decline</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>
                                        <button class="btn btn-primary"><i class="bi bi-eye"></i> View</button>
                                        <button class="btn btn-success">Approve</button>
                                        <button class="btn btn-danger">Decline</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer}}